<span class="time">
    <i class="fa fa-fw fa-bookmark-o"></i> Info
</span>
<h3 class="timeline-header">
    <a href="javascript:void(0)">Propiedades</a> del elemento <button type="button" class="btn bg-maroon btn-xs">{{ formEntity.vars.value.idIncrement }}</button>
</h3>

{{ form_start(formEntity) }}
<div class="timeline-body">
    <div class="box-body">

        <div class="form-group">
            {{ form_label(formEntity.labelName) }}
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-gg"></i>
                </div>
                {{ form_widget(formEntity.labelName) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formEntity.tagValue) }}
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-text-width"></i>
                </div>
                {{ form_widget(formEntity.tagValue) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formEntity.tagPlaceholder) }}
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-info"></i>
                </div>
                {{ form_widget(formEntity.tagPlaceholder) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(formEntity.tagMin) }}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fw fa-sort-numeric-desc"></i>
                        </div>
                        {{ form_widget(formEntity.tagMin) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(formEntity.tagMax) }}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fw fa-sort-numeric-asc"></i>
                        </div>
                        {{ form_widget(formEntity.tagMax) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(formEntity.tagMaxlength) }}
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-fw fa-sort-numeric-asc"></i>
                </div>
                {{ form_widget(formEntity.tagMaxlength) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-2">
                <div class="form-group">
                    {{ form_label(formEntity.tagRequired) }}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fw fa-check-circle-o"></i>
                        </div>
                        {{ form_widget(formEntity.tagRequired) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-2">
                <div class="form-group">
                    {{ form_label(formEntity.tagDisabled) }}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fw fa-check-circle-o"></i>
                        </div>
                        {{ form_widget(formEntity.tagDisabled) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-2">
                <div class="form-group">
                    {{ form_label(formEntity.tagReadonly) }}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-fw fa-check-circle-o"></i>
                        </div>
                        {{ form_widget(formEntity.tagReadonly) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="timeline-footer pull-right">
    {{ form_widget(formEntity.submit) }}
</div>
{{ form_end(formEntity)}}




    {#
    <section class="content">
    <div class="row">
    <div class="col-md-8">


    </div>
    </div>
    </section>
    #}
