{% extends "BackendBundle::template.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}

{% block contenido %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <i class="fa fa-fw fa-expeditedssl"></i>  Perfil
            <small>{{ action }}</small>
            {% if id is not null %}
                <button type="button" class="btn btn-primary btn-xs">{{ id }}</button>
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">

                <div class="box box-info">
                    <div class="box-header with-border">
                        {#<h3 class="box-title">Horizontal Form</h3>#}
                    </div><!-- /.box-header -->
                    <!-- form start -->

                    {{ form_errors(formEntity) }}
                    {{ form_start(formEntity)}}
                    <div class="box-body ">

                        {% if formEntity.vars.errors|length > 0 %}
                            <div class="info-box bg-red">
                                <span class="info-box-icon"><i class="fa fa-fw fa-close"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Error</span>
                                    <span class="info-box-number">{{ form_errors(formEntity) }}</span>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%"></div>
                                    </div>
                                      <span class="progress-description">
                                        -
                                      </span>
                                </div><!-- /.info-box-content -->
                            </div>
                        {% endif %}

                        <div class="form-group">
                            {{ form_label(formEntity.name) }}
                            <div class="col-sm-6">
                                {{ form_widget(formEntity.name) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(formEntity.submit) }}
                            </div>
                        </div>

                        {% block choice_widget %}
                            {% spaceless %}
                                <div class="form-group ">
                                    {{ form_label(formEntity.permission) }}

                                    <div class="col-sm-10 ">

                                        <div>
                                        <div>
                                        <div>

                                        {% set value = null %}
                                        {% set tagNuevo = null %}
                                        {% set tagAntiguo = null %}
                                        {% for child in formEntity.permission.children %}

                                            {% set choiceView = formEntity.permission.vars.choices[child.vars.value] %}
                                            {% set tagNuevo = choiceView.data.groupPermissionTag %}

                                            {% if tagNuevo != tagAntiguo %}
                                                {% set tagAntiguo = choiceView.data.groupPermissionTag %}

                                                </div>
                                                </div>
                                                </div>
                                                <div class="col-md-4 ">

                                                    <div class="box box-success box-solid" style="max-height: 250px; min-height: 250px; ">
                                                        <div class="box-header with-border">
                                                            <h3 class="box-title">{{ tagNuevo }}</h3>
                                                        </div>
                                                        <div class="box-body">

                                            {% endif %}

                                            <div class="checkbox">
                                                <label>
                                                    {{ form_widget(child, {'attr': {'class': 'flat-red', 'style': 'position: absolute; opacity: 0;'}}) }}
                                                    {{ form_label(child, null, { 'label_attr': {'class': 'control-label '} }) }}
                                                </label>
                                            </div>

                                        {% endfor %}

                                        </div>
                                        </div>
                                        </div>

                                    </div>
                                </div>
                            {% endspaceless %}
                        {% endblock choice_widget %}

                    </div><!-- /.box-body -->



                    <div class="box-footer ">

                    </div><!-- /.box-footer -->

                    {{ form_end(formEntity)}}

                </div>


            </div><!-- ./col -->
        </div><!-- /.row -->

    </section><!-- /.content -->
{% endblock %}